*, *::before, *::after {
  box-sizing: border-box;
}
html {
  background-color: #00538a;
  color: white;
  font-size: 12px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  text-align: center;
}
h1 {
  margin: 15px;
}
.noSearchResults {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;

  color: white;
  font-size: 16px;
}

.navigationBar {
  display: flex;
  text-align: center;
  align-items: center;
  width: 100%;
  background-color: #0c5da5;
  border-style: ridge;
  border-width: 10px;
  border-color: #408dd2;
  border-radius: 0.25rem;

  .mainPage{
    margin: 10px;
    display: inline-block;
    position: static;
    width: 33%;
  }
  .searchBar{
    margin: 10px;
    display: flex;
    position: static;
    width: 33%;
    .searchInput{
      display: block;
      width: 100%;
      height: calc(2.25rem + 2px);
      padding: 0.375rem 0.75rem;
      font-family: inherit;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #bdbdbd;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
      .searchButton{
      display: inline-block;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      background-color: #eee;
      border: 1px solid #bdbdbd;
      padding: .375rem .75rem;
      font-size: 1rem;
      border-radius: .25rem;
      transition: background-color .15s ease-in-out;
      }
      .searchButton:hover{
      background-color: #bdbdbd;
      }
      .searchInput{
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      position: relative;
      z-index: 2;
      }
      .searchButton{
      position: relative;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left-width: 0;
      }
  }
  .searchResult{
    display: inline-block;
    position: static;
    width: 33%;
    margin: 15px;
  }
}

.resultPage{
  width: 100%;
  display: inline-block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #0c5da5;
  
  border-style: ridge;
  border-width: 10px;
  border-color: #408dd2;
  border-radius: 0.25rem;
}
.book {
  width: 332px;
  height: 238px;
  margin: 5px;
  display: inline-block;
  vertical-align: middle;
  color: white;
  background-color: #0067a5;
  border-style: double;
  border-width: 15px;
  border-color: #408dd2;
  border-radius: 0.25rem;

  .info {
    margin: 10px 5px 0px 10px;
    width: auto;
    max-height: 198px;
    max-width: 150px;
    position: inherit;
    white-space: pre-wrap;

    display: inline-block;
    text-overflow: ellipsis;
    word-wrap: break-word; 
    overflow: hidden;
  }
}
.imageCover {
  margin: 5px;
  width: 128px;
  height: 198px;
  float: left;
}

.bookPage {
  margin: 5px;
  display: inline-block;
  .resultPage{
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .imageCover {
    margin: 15px;
    float:inherit;
    width: 256px;
    height: 396px;
  }
  .bookInfo {
    margin: 5px 30px 15px 15px;
    text-align: justify;
    font-size: 16px;
    white-space: pre-wrap;
  }
}

.link:visited {
  color: white;
}
.link:link {
  color: white;
}
.link:hover {
}
.link:active {
}
.link:focus {
}