html {
  background-color: #0C5DA5;
  color: white;
  font-size: 12px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  margin: 15px;
}
.noSearchResults {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;

  color: white;
  font-size: 16px;
}
.navigationBar {
  margin: 5px 5px 5px 5px;
  width: 99%;
  position: static;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}
.mainPageLink {
  position: sticky;
  background-color: aqua;
}
.searchPage {
  margin: px;
}
.book {
  min-width: 300px;
  height: 208px;
  margin: 5px;
  display: inline-block;
  color: white;
  background-color: #0C5DA5;
  border-style: double;
  border-width: 15px;
  border-color: #408DD2;
}
.imageCover {
  margin: 5px;
  width: 128px;
  height: 198px;
  background-color: rgb(107, 123, 201);
  float: left;
}
.info {
  margin: 5px 5px 5px 10px;
  width: auto;
  max-height: 198px;
  max-width: 150px;
  position: inherit;
  float: inline-start;
  white-space: pre-wrap;

  display: block;/* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}
.bookPage{
  margin: 5px;
}
.bookPage .imageCover{
  width: 256px;
  height: 396px;
}
.bookPage .bookInfo{
  margin: 5px 5px 5px 15px;
}


.link:link {

}
.link:visited {
  color: white;
}
.link:hover {

}
.link:active {
  
}
.link:focus {
}