.mainColor {
  background-color: rgba(229, 237, 241, 0.9);
  border-radius: 50px;
}
.secondColor {
  background-color: rgba(150, 194, 219, 0.5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background-image: url("./components/images/background.jpg");
  background-size: contain;
  background-repeat: repeat;
  background-attachment: local;
  color: rgb(49, 49, 49);
  text-align: center;
  font-size: 10pt;
  line-height: 1;
  font-weight: 400;
  font-family: 'Open Sans', 'Source Sans Pro', Roboto, 'HelveticaNeue-Light',
    'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad,
    Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans',
    'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
}
.noSearchResults {
  width: 100%;
  height: 100%;
  position: static;
  display: inline-block;
  vertical-align: middle;

  font-size: 16px;
}

.navigationBar {
  display: flex;
  position: static;
  text-align: center;
  align-items: center;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 2%;

  .mainPage {
    margin: 10px;
    display: inline-block;
    position: static;
    width: 33%;
  }
  .searchBar {
    margin: 10px;
    display: flex;
    position: static;
    width: 33%;
    .searchInput {
      display: block;
      width: 100%;
      height: calc(2.2rem + 2px);
      padding: 0.375rem 0.75rem;
      font-family: inherit;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #bdbdbd;
      border-radius: 0.25rem;
      transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    }
    .searchButton {
      display: inline-block;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      background-color: #eee;
      border: 1px solid #bdbdbd;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      border-radius: 0.25rem;
      transition: background-color 0.15s ease-in-out;
    }
    .searchButton:hover {
      background-color: #bdbdbd;
    }
    .searchInput {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      position: relative;
      z-index: 2;
    }
    .searchButton {
      position: relative;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left-width: 0;
    }
  }
  .searchResult {
    display: inline-block;
    position: static;
    width: 33%;
    margin: 15px;
  }
}

.resultPage {
  width: 100%;
  display: inline-block;
  position:static;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.book {
  width: 327px;
  height: 233px;
  margin: 10px;
  display: inline-block;
  vertical-align: middle;
  border-style: solid;
  border-width: 5px;
  border-color: rgba(150, 194, 219, 1);
  border-radius: 2rem;
  outline: solid 5px rgba(150, 194, 219, 0.5);

  .imageCover:hover img {
    transform: scale(1.06);
  }
  .imageCover:hover::after {
    content: attr(data-title);
    transition: 1s;
    position: absolute;
    left: 110%;
    top: 65%;
    z-index: 1;
    background: rgba(182, 213, 243, 0.9);
    font-family: Arial, sans-serif;
    font-size: 11px;
    padding: 5px 10px;
    border: 1px solid #333;
    color: black;
    transition: opacity 0.2s 1s ease;
  }

  .info {
    margin: 10px 5px 0px 10px;
    width: auto;
    max-height: 198px;
    max-width: 150px;
    position: inherit;
    white-space: pre-wrap;

    display: inline-block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
  }
}
.imageCover {
  margin: 13px;
  margin-right: 5px;
  width: 128px;
  height: 198px;
  float: left;
  position: relative;
}
img {
  border-radius: 10px;
  box-shadow: 0 0 10px #104774;

  transition: 0.5s;
  display: block;
}

.bookPage {
  margin: 5px;
  display: inline-block;
  .resultPage {
    display: flex;
    padding: 10px;
  }
  .imageCover {
    margin: 15px;
    float: inherit;
    width: 256px;
    height: 396px;
  }
  .bookInfo {
    margin: 5px 30px 15px 15px;
    text-align: justify;
    font-size: 16px;
    white-space: pre-wrap;
  }
}

.link:visited {
  color: black;
}
.link:link {
  color: black;
}

.pagination {
  width: auto;
  margin: 15px;
  display: inline-block;
  .paginationButton {
    display: inline;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #eee;
    border: 1px solid #bdbdbd;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    transition: background-color 0.15s ease-in-out;
  }
  .paginationButton:hover {
    background-color: #bdbdbd;
  }
  .currentPageButton {
    background-color: #a0a0a0;
  }
  .currentPageButton:hover {
    background-color: #a0a0a0;
    cursor: default;
  }
  
}